*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fdfdfd;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}
a{
    color: white;
    text-decoration: none;
    transition: all .3s ease-in;
}
li{
    list-style: none;
}
.mx-6{
    margin:  4rem 7rem 2rem 4rem !important;
}
.mt-6{
    margin-top: 4rem !important;
}
}
.ml-6{
    margin-left: 4rem !important;
}
.mr-6{
    margin-right: 5.5rem;
}
.main{
    background-image: url('../images/Oval.png');
    background-repeat: no-repeat;
    background-position: right top;
    overflow-x: hidden;
}
.header-section{
    margin-left: 45%;
}
.header-section ul{
    margin: 2rem 1rem;
}
.header-section li a{
    font-size: .9rem;
    margin: 0rem .75rem;
}
.header-section .acount{
    margin-top: 2rem;
    margin-left: 2rem;
}
.header-section .acount a{
    margin: 0 .5rem;
    font-size: 1.1rem;
    border-radius: .2rem;
    padding: .5rem 1rem;
    border : .1rem solid white
}
.header-section .acount a.active{
    background-color: #222;
    border-color: #222;
}
.play-icon img{
    position: absolute;
    top: 50%;
    right: 57%;
}
.view-section h4{
    font-size: 2.5rem;
    color: #333;
}
.view-section h4 span{
    font-weight: 700;
}
.view-section a button{
    padding: .5rem 2.5rem;
    background-color: #442b9a;
    border: 1px solid #442b9a;
    border-radius: .3rem;
    color: white;
    font-size: .9rem;
}
.about-section span{
    display: block;
    width: 4.2rem;
    height: 4.2rem;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    border: .1rem solid #442b9a;
    border-radius: .4rem;
}
.about-section .col-lg-3:nth-child(2) span{
    background-color: #442b9a;
}
.about-section .icon-biohazard:before {
    content: "\e900";
    color: white;
  }
.about-section h4{
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #111;
}
.about-section p{
    font-size: .9rem; 
    color: #666;
    margin-top: 1rem;
}
.learn-section{
    margin-top: 10rem;
    padding-bottom: 7rem;
    border-radius: 50rem/10rem;
    /* border-bottom-left-radius: 10rem/10rem ;
    border-bottom-right-radius: 10rem/10rem ; */
    background: linear-gradient(0deg, rgba(215,215,215,1) 0%, rgba(251,251,255,1) 75%, #fdfdfd 100%);
}
.learn-section h3{
    font-size: 2.2rem;
    font-weight: 700;
    color: #222;
}
.learn-section .learning span{
    font-size: 1.5rem;
}
.learn-section .learning p{
    color: #777;
}
.learn-section .learning-more button{
    padding: .5rem 1.5rem;
    background-color: #442b9a;
    border: .1rem solid #442b9a;
    color: #fff;
    border-radius: .2rem;
}
.learn-section .learning-more a{
    position: relative;
    color: #442b9a;
}
.learn-section .learning-more span{
    position: absolute;
    font-size: 1.5rem;
    border: .05rem solid #442b9a;
    border-radius: 50%;
    margin: .55rem 0 0 .5rem;
}
.testimonial h3{
    font-size: 2rem;
    font-weight: 700;
    color: #222;
}
.testimonial a{
    color: #442b9a;
    font-size: .8rem;
}
.testimonial-color{
    color: #653cec;
    font-size: .8rem;
}
.story-section .row{
    margin-top: 5rem;
}
.story-section h3{
    font-size: 2rem;
    font-weight: 700;
    color: #333;
}
.story-section span{
    font-size: 1.5rem;
}
.story-section p{
    font-size: .9rem;
    color: #222;
}
.story-section a{
    color: #222;
    text-decoration: underline;
}
.text-story span{
    font-size: .9rem;
    color: #222;
    font-weight: 700;
}
.recent-section h3{
    font-size: 2rem;
    font-weight: 700;
    color: #333;
}
.recent-section p{
    font-size: .9rem;
    color: #444;
}
.recent-section a{
    font-size: 1.5rem;
    font-weight: 700;
    color: #222;
}
.recent-section .active{
    font-weight: 500;
    color: #442b9a;
}